In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [22]:
df = pd.read_csv("movies.csv")
df.head(20)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller
10,11,"American President, The (1995)",Comedy|Drama|Romance
11,12,Dracula: Dead and Loving It (1995),Comedy|Horror
12,13,Balto (1995),Adventure|Animation|Children
13,14,Nixon (1995),Drama
14,15,Cutthroat Island (1995),Action|Adventure|Romance
15,16,Casino (1995),Crime|Drama
16,17,Sense and Sensibility (1995),Drama|Romance
17,18,Four Rooms (1995),Comedy
18,19,Ace Ventura: When Nature Calls (1995),Comedy
19,20,Money Train (1995),Action|Comedy|Crime|Drama|Thriller

In [14]:
df.shape

(9742, 3)

In [15]:
data = pd.read_csv("ratings.csv")
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [16]:
data.shape

(100836, 4)

In [8]:
number_of_unique_users = data['userId'].nunique()
print(number_of_unique_users)

610

In [10]:
movie_count = data.groupby('movieId').size().to_frame(name='count').reset_index()

movie_count = movie_count.sort_values(by='count', ascending=False)

movie_id_with_max_ratings = movie_count.head(1)['movieId'].values[0]

print(movie_id_with_max_ratings)

356

In [11]:
movie_count = data.groupby('movieId').size().to_frame(name='count').reset_index()

movie_count = movie_count.sort_values(by='count', ascending=False)

movie_id_with_max_ratings = movie_count.head(1)['movieId'].values[0]


movie_titles = {1: "Toy Story", 2: "Jumanji", 3: "The Lion King", 4: "Jurassic Park", 5: "The Shawshank Redemption"}

movie_name_with_max_ratings = movie_titles[movie_id_with_max_ratings]

print(movie_name_with_max_ratings)

KeyError: 356

In [18]:
tags_df = pd.read_csv("movies.csv")


movie_id = 1  
movie_tags_df = tags_df[tags_df["movieId"] == movie_id]

correct_tags = movie_tags_df["genres"].unique().tolist()

print("Correct tags for 'Matrix, The (1999)':")
print(correct_tags)

Correct tags for 'Matrix, The (1999)':
['Adventure|Animation|Children|Comedy|Fantasy']

In [19]:
import pandas as pd

ratings_df = pd.read_csv("ratings.csv")
movies_df = pd.read_csv("movies.csv")

merged_df = ratings_df.merge(movies_df, on="movieId")

movie_ratings_df = merged_df[merged_df["title"] == "Terminator 2: Judgment Day (1991)"]

average_rating = movie_ratings_df["rating"].mean()

print("The average user rating for 'Terminator 2: Judgment Day (1991)' is:", average_rating)

The average user rating for 'Terminator 2: Judgment Day (1991)' is: 3.970982142857143

In [26]:
import pandas as pd
from scipy import stats


df = pd.read_csv("ratings.csv")

fight_club_ratings = df[df["movieId"] == 2959 ]

skewness = stats.skew(fight_club_ratings["rating"])
kurtosis = stats.kurtosis(fight_club_ratings["rating"])

distribution_name = None

if abs(skewness) < 0.5 and abs(kurtosis) < 0.5:
    distribution_name = "Normal Distribution"
elif skewness > 0 and kurtosis < 0:
    distribution_name = "Right Skewed Distribution"
elif skewness < 0 and kurtosis < 0:
    distribution_name = "Left Skewed Distribution"
elif abs(skewness) < 0.5 and kurtosis > 0:
    distribution_name = "Uniform Distribution"
else:
    distribution_name = "Unknown Distribution"

print(f"The data distribution of user ratings for 'Fight Club (1999)' is most likely a: {distribution_name}")

The data distribution of user ratings for 'Fight Club (1999)' is most likely a: Unknown Distribution

In [25]:
fight_club_ratings = df[df["title"] == "Fight Club (1999)"]
print(fight_club_ratings)

      movieId              title                       genres
2226     2959  Fight Club (1999)  Action|Crime|Drama|Thriller

KeyError: 'rating'

In [31]:
import pandas as pd

ratings_df = pd.read_csv("ratings.csv")
movies_df = pd.read_csv("movies.csv")

merged_df = ratings_df.merge(movies_df, on="movieId")

scifi_movies_df = merged_df[merged_df["genres"].str.contains("Sci-Fi")]

scifi_movie_ratings_count = scifi_movies_df.groupby("title")["rating"].count().sort_values(ascending=False)

third_most_popular_scifi_movie = scifi_movie_ratings_count.index[2]

print("The third most popular Sci-Fi movie based on the number of user ratings is:", third_most_popular_scifi_movie)

The third most popular Sci-Fi movie based on the number of user ratings is: Jurassic Park (1993)

In [32]:
import pandas as pd

imdb_ratings_df = pd.read_csv("ratings.csv")


highest_rated_movie_id = imdb_ratings_df["movieId"].loc[imdb_ratings_df["rating"] == imdb_ratings_df["rating"].max()].values[0]

print("The movieId of the movie with the highest IMDB rating is:", highest_rated_movie_id)

The movieId of the movie with the highest IMDB rating is: 47

In [33]:
import pandas as pd

imdb_ratings_df = pd.read_csv("ratings.csv")
movies_df = pd.read_csv("movies.csv")

merged_df = imdb_ratings_df.merge(movies_df, on="movieId")

scifi_movies_df = merged_df[merged_df["genres"].str.contains("Sci-Fi")]

highest_rated_scifi_movie_id = scifi_movies_df["movieId"].loc[scifi_movies_df["rating"] == scifi_movies_df["rating"].max()].values[0]

print("The movieId of the Sci-Fi movie with the highest IMDB rating is:", highest_rated_scifi_movie_id)

The movieId of the Sci-Fi movie with the highest IMDB rating is: 260

In [35]:
import pandas as pd

imdb_ratings_df = pd.read_csv("ratings.csv")
movies_df = pd.read_csv("movies.csv")

merged_df = imdb_ratings_df.merge(movies_df, on="movieId")

scifi_movies_df = merged_df[merged_df["genres"].str.contains("Sci-Fi")]

highest_rated_scifi_movie = scifi_movies_df.loc[scifi_movies_df["rating"] == scifi_movies_df["rating"].max()]

movie_id = highest_rated_scifi_movie["movieId"].values[0]
movie_title = highest_rated_scifi_movie["title"].values[0]

print("The movieId of the 'Sci-Fi' movie with the highest IMDB rating is:", movie_id)
print("The name of the movie is:", movie_title)

The movieId of the 'Sci-Fi' movie with the highest IMDB rating is: 260
The name of the movie is: Star Wars: Episode IV - A New Hope (1977)